.filter-member .radio {
  margin-top: auto;
  margin-bottom: auto;
}

.filter-member .btn {
  margin-left: auto !important;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.filter-member .btn-gp {
  margin-left: auto;
}

.form-group label {
  font-size: 15px;
}

.form-control {
  height: 35px;
  font-size: 15px;
  padding: 0 10px !important;
}

.radioBtn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.radioBtn-group .radio {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}

.select-group .form-control {
  margin-right: 15px;
}

.user-view-detail .imgWrapper {
  border-radius: 500px;
  border: 1px solid #003473;
  padding: 5px;
}

.user-view-detail .imgWrapper img {
  width: 100%;
  height: auto;
}

.user-view-detail .details h1 {
  color: #003473;
}

.user-view-detail .details span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.user-view-detail .details span i {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
}

.user-view-detail .details span p {
  margin-bottom: auto;
  margin-left: 20px;
  font-weight: normal;
}

.table-responsive table tbody tr td {
  line-height: 1.5;
}

.table-responsive table tbody tr td .i-Eye {
  font-size: 20px;
}

.i-Taxi {
  font-size: 20px;
}

.i-Road {
  font-size: 32px;
}

.i-Smartphone--Secure {
  font-size: 20px;
}

.role-management .addBtn {
  margin: 15px !important;
  padding-left: 15px;
  float: right;
}

.mobileNumber-breadcrumb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobileNumber-breadcrumb h1 {
  margin-top: auto;
}

.mobileNumber-breadcrumb .card .card-body {
  padding: 0.65rem;
}

.ANPR-Vehicle-tracking {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
}

.ANPR-Vehicle-tracking h1 {
  font-size: 22px;
  text-align: center;
}

.no-sort {
  pointer-events: none;
}

.no-sort:before {
  display: none !important;
}

.no-sort:after {
  display: none !important;
}

.zero_configuration_table-5.dataTable thead > tr > th {
  padding-left: 5px;
  padding-right: 15px !important;
}

.zero_configuration_table-5.dataTable tbody > tr > td {
  line-height: 1.5;
  padding: 5px;
}

.submissions-select {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submissions-select .form-group {
  width: auto;
}

.submissions-select .form-group .form-control {
  width: 100%;
}

.i-Folder-With-Document {
  font-size: 20px;
}

.search-customer {
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.search-customer h1 {
  font-size: 22px;
}

.search-customer .chkBox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-customer .chkBox-group label {
  margin-bottom: 0;
  margin-top: 15px;
}

textarea.form-control {
  padding-top: 5px !important;
}

.search-filter {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.search-filter h1 {
  font-size: 22px;
  margin-bottom: 15px;
}

.offerProducts .offer-box {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.offerProducts .offer-box a {
  display: block;
}

.offerProducts .offer-box a .panel .imgWrapper {
  margin-bottom: 10px;
  border: 1px solid #00000012;
}

.offerProducts .offer-box a .panel .imgWrapper img {
  width: 100%;
  height: auto;
}

.offerProducts .offer-box a .panel .details h3 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.offerProducts .offer-box a .panel .details p {
  margin-bottom: 5px;
  border-bottom: 1px solid #0000000d;
}

.offerProducts .offer-box a .panel .details p:last-child {
  border-bottom: none;
}

.offerProducts .offer-box .btnGp button {
  width: 100%;
  background-color: #f8f9fa;
  border: none;
  padding: 5px 0;
  -webkit-box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06), 0 0 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06), 0 0 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offerProducts .offer-box .btnGp button:hover {
  -webkit-box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 10px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 10px 20px rgba(0, 0, 0, 0.08);
}

.tableSelect {
  padding: 5px !important;
}

.tableSelect select {
  font-size: 12.5px;
}

.card-icon-bg .card-body .content {
  max-width: 150px !important;
}

.shopLogo {
  width: 60px;
}

.shopLogo img {
  width: 100%;
  height: auto;
}

.pdf {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pdf a {
  margin: 0 3px;
  width: 40px;
}

.shopImages img {
  width: 60px;
  margin-right: 15px;
}

.imgWrapper img {
  width: 60px;
  margin-right: 15px;
}

.view .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.view .form-group p {
  height: auto;
  font-size: 15px;
  padding: 5px 10px !important;
  outline: initial !important;
  color: #47404f;
  border-radius: 0.25rem;
  line-height: 1.5;
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
}

.view .form-group label {
  display: block;
  width: 150px;
  font-weight: 600;
  margin-bottom: auto;
  margin-top: auto;
}

.view .form-group img {
  width: 200px;
  margin-right: 20px;
}

.overview-card .card-body .table-responsive .dataTables_wrapper .dataTables_length {
  display: none;
}

.overview-card .card-body .table-responsive .dataTables_wrapper .dataTables_filter {
  display: none;
}

.md-avtar-img {
  width: 50px;
  height: 50px;
}

.btn.btn-outline-info {
  color: #003473 !important;
}

.btn.btn-outline-info:hover {
  background: #003473;
  -webkit-box-shadow: 0 8px 25px -8px #003473;
          box-shadow: 0 8px 25px -8px #003473;
  border-color: #003473;
  color: #fff !important;
}

.btn.btn-info {
  color: #fff !important;
}

.view-transactions .card .card-body {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 90px;
}

.view-transactions .card .card-body .content {
  margin-right: 0;
  margin-left: 0;
}

.view-transactions .card .card-body .content p {
  text-align: left;
}

.admin-content .card .card-body .content .text-muted {
  font-size: 20px;
}

.admin-content .active-card .card-body .content .text-muted {
  font-size: 16px;
  color: #008000 !important;
}

.admin-content .active-card i {
  color: #0080006e;
}

.admin-content .inactive-card i {
  color: #c506066e;
}

.admin-content .inactive-card .card-body .content .text-muted {
  font-size: 16px;
  color: #c50606 !important;
}

.i-Down.text-danger {
  color: #f4433659 !important;
}

.i-Up.text-success {
  color: #4caf507d !important;
}

.voucherSorting .ui-sortable {
  padding-left: 0;
  list-style-type: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.voucherSorting .ui-sortable li {
  background-color: #f9f9f9;
  padding: 7px;
  border-left: none;
  border-right: none;
  border-top: 0.5px solid #00000024;
  border-bottom: 0.5px solid #00000024;
}

.voucherSorting .ui-sortable li:first-child {
  border-top: 1px solid #00000024;
}

.voucherSorting .ui-sortable li:last-child {
  border-bottom: 1px solid #00000024;
}

.shopList .card .card-body i {
  font-size: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.input-images .image-uploader {
  min-height: 35px;
  font-size: 15px;
  background: #f8f9fa;
  border: 1px solid #ced4da;
  color: #47404f;
  border-radius: 0.25rem;
  padding: 0 10px !important;
}

.input-images .image-uploader .upload-text {
  -webkit-box-align: left !important;
      -ms-flex-align: left !important;
          align-items: left !important;
}

.input-images .image-uploader .upload-text .material-icons {
  display: none;
}

.input-images .image-uploader .uploaded {
  padding-left: 0;
  padding-right: 0;
}

.input-images .image-uploader .uploaded .uploaded-image {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #cbcbcb;
}

.input-images .image-uploader .uploaded .uploaded-image .delete-image {
  width: 18px;
  height: 18px;
}

.input-images .image-uploader .uploaded .uploaded-image .delete-image:after {
  position: absolute;
  content: "x";
  left: 50%;
  top: 46%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.input-images .image-uploader .uploaded .uploaded-image .delete-image .material-icons {
  display: none;
}

.overview .right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview .right h2 {
  margin-top: auto;
  margin-bottom: auto;
  color: #332e38;
  font-size: 20px;
}

.overview .right h2 span {
  color: #003473;
}

.overview .right p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

.overview .right p span {
  color: #003473;
}

.overview .card .card-body {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overview .card .card-body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview .card .card-body .main i {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 35px;
}

.overview .card .card-body .main .details {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  text-align: left;
}

.overview .card .card-body .sub {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submissions .card .card-body {
  min-height: 136px;
}

.submissions .card .card-body i {
  font-size: 35px;
}

.submissions .card .card-body .content {
  max-width: inherit !important;
  margin-left: 15px;
  margin-top: 0;
}

.disable {
  pointer-events: none;
}

.ui-datepicker .ui-datepicker-next span {
  border-top: 1px solid #313131;
  border-right: 1px solid #313131;
  width: 8px;
  height: 8px;
  margin-top: -3px !important;
  margin-bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ui-datepicker .ui-datepicker-prev span {
  border-top: 1px solid #313131;
  border-left: 1px solid #313131;
  width: 8px;
  height: 8px;
  margin-top: -3px !important;
  margin-bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: -2px !important;
}

.transfer {
  padding: 1px 2px;
  font-size: 12px;
}

.transfer svg {
  width: 1rem;
}

.transfer svg path {
  color: #535353;
}

.i-Happy {
  font-size: 30px;
}

.Q-A {
  padding-left: 0;
  list-style-type: none;
  font-size: 15px;
  margin-top: 30px;
}

.Q-A li {
  margin-bottom: 30px;
}

.Q-A li span {
  margin-left: 30px;
}

.notification .ul-widget-app__browser-list .ul-widget-app__browser-list-1 {
  min-height: 50px;
  border-bottom: 1px solid #dee2e6;
  background-color: #f6f6f6;
}

.notification .ul-widget-app__browser-list .ul-widget-app__browser-list-1 span {
  padding: 5px 10px;
  font-size: 13px;
  width: 100%;
}

.mobileNumber table tbody .btnGp .btn {
  padding: 5px;
}

div.dataTables_wrapper div.dataTables_filter input {
  min-width: 260px;
}

.monthReport-overview {
  background-color: rgba(250, 173, 34, 0.5);
}

.sellers-overview {
  background-color: rgba(239, 57, 64, 0.5);
}

.voucher-overview {
  background-color: rgba(150, 204, 77, 0.5);
}

.buyers-overview {
  background-color: rgba(24, 185, 243, 0.5);
}

.statistics-overview {
  background-color: rgba(237, 0, 140, 0.5);
}

.card-body:hover i {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card-body i {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navigation-left .nav-item:hover .nav-item-hold i {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.navigation-left .nav-item .nav-item-hold i {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.submitBarcode-detail .user-view-detail .imgWrapper {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.submitBarcode-detail .user-view-detail .details {
  text-align: center;
}

.submitBarcode-detail .user-view-detail .details span {
  margin-left: 30%;
}
  